<section id="about">
<div class="col-md-8 col-md-offset-2">
  <center><img src="/images/indy.jpg" class="img-responsive" alt="Indianapolis Indiana"></center>
  <br>
  <center><p>This event is being hosted in support of the <a href="http://hackforchange.org/index.html#top">National Day of Civic Hacking</a>. Our event invites entreprenuers, developers, designers, government representatives and citizens who are passionate about improving our communities. We have a fun day of music, networking, coding, and more planned. <b><a href="https://www.eventbrite.com/">Join Us</a></b> for an awesome day!</p></center>
  <br>
  <center><button type="button" a class="btn btn-primary" onclick="window.open('https://www.eventbrite.com/')">Register to Attend</button></center>
  <hr>
</div>
</section>

<section id="where">
<div class="col-md-8 col-md-offset-2">
  <center><h2>Where</h2></center>
  <center><h4>We have an awseome day planned on Georgia street down town Indianapolis!</h4></center>
  <center><div id="map-canvas"></div></center>
  <hr>
</div>
</section>

<section id="schedule">
<div class="col-md-8 col-md-offset-2">
  <center><h2>Schedule</h2></center>
  <center><h4>We have an awesome day being planned. Stay tuned for more information on the exact schedule.</h4></center>
  <center><p>We do plan to start the day around 10am and continue the fun into the evening. Save the date on your calandar!</p></center>
  <hr>
</div>
</section>

<section id="challenges">
<div class="col-md-8 col-md-offset-2">
  <center><h2>Challenges</h2></center>
  <center><h4>Got a Challenge? </h4>
  <center><p>You can submit one to the broader HackForChange website or locally using the submission buttons below</p></center>
  <center><button type="button" a class="btn btn-primary" onclick="window.open('')">Submit a Local Challenge</button>
  <button type="button" a class="btn btn-success" onclick="window.open('http://hackforchange.org/index.html#challenges')">HackForChange Challenges</button></center>
  <hr>
</div>
</section>

<section id="datasets">
<div class="col-md-8 col-md-offset-2">
  <center><h2>Datasets</h2></center>
  <center><h4>Our goal is to connect innovators with Indianapolis, Indiana, and national top opendata sets.</h4>
  <center><p>We invite you to submit data sets, unlock data, point participants towards data sets and more. Connecitng innovators with civic data has already produced billions of dollars in benefit to communities (e.g., GIS data driving GPS inovation). Our goal is to highlight these data sets but we need your help to do so!</p></center>
  <center><button type="button" a class="btn btn-primary" onclick="window.open('')">View / Submit Datasets</button></center>
  <hr>
</div>
</section>

<section id="sponsors">
<div class="col-md-8 col-md-offset-2">
  <center><h2>Sponsors</h2></center>
  <hr>
</div>
</section>

<section id="contact">
<div class="col-md-8 col-md-offset-2">
  <center><h2>Contact Us</h2></center>
  <hr>
</div>
</section>