<a name="top"></a>
<div class="col-md-8 col-md-offset-2">
  <center><img src="images/indy-main.gif" class="img-responsive" alt="Indianapolis Indiana"></center>
  <br>
  <center><p>This event is being hosted in support of the <a href="http://hackforchange.org/index.html#top">National Day of Civic Hacking</a>. Our event invites entreprenuers, developers, designers, government representatives and citizens who are passionate about improving our communities. We have a fun day of music, networking, coding, and more planned. <b><a href="https://www.eventbrite.com/">Join Us</a></b> for an awesome day!</p></center>
  <br>
  <center><button type="button" a class="btn btn-danger" onclick="window.open('https://www.eventbrite.com/')">Register to Attend</button></center>
  <hr>
</div>
</section>

<a name="where"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Where</h2></center>
  <center><h4>We have an awseome day planned on Georgia street down town Indianapolis!</h4></center>
  <center><div id="map-canvas"></div></center>
  <hr>
</div>

<a name="schedule"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Schedule</h2></center>
  <center><h4>Stay tuned for more information on the exact schedule.</h4></center>
  <center><p>We plan to start the day around 10am and continue the fun into the evening. Save the date on your calandar!</p></center>
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
</div>

<a name="challenges"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Challenges</h2></center>
  <center><h4>Got a Challenge? </h4>
  <center><p>You can submit one to the broader <a href="http://hackforchange.org/index.html#challenges">HackForChange</a> website or locally using the submission button below.</p></center> 
  <center><p>We have recieved <b><u><%= @challengecount %></u></b> local challenge(s) to date!</p></center>
  <center><button type="button" a class="btn btn-danger" onclick="window.open('/newchallenge')">Submit Local Challenge</button>
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
</div>

<a name="datasets"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Datasets</h2></center>
  <center><h4>Our goal is to connect innovators with Indianapolis, Indiana, and national top opendata sets.</h4>
  <p>We invite you to submit data sets, unlock data, point participants towards data sets and more. Connecitng innovators with civic data has already produced billions of dollars in benefit to communities (e.g., GIS data driving GPS inovation). Our goal is to highlight these data sets but we need your help to do so!</p></center>
  <center><button type="button" a class="btn btn-danger" onclick="window.open('')">View / Submit Datasets</button></center>
  <hr>
</div>

<a name="sponsors"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Sponsors</h2></center>
  <center><h4>Our community is awesome! Without your support, support of the organizations below, and <a href="http://hackforchange.org/index.html#sponsors">HackForChange</a> sponsors this event would not be possible.</h4></center>
  <center>
    <a href="http://www.indychamber.com/"><img src="/images/indychamber-logo.gif" alt="Indy Chamber" title="Thank you for sponsorship of event planning and logistics" class="img-rounded"></a>
  </center>
  <center><a href="mailto:brian@socialhealthinsights.com?Subject=I%20Want%20To%20Sponsor%20IndyCivicHack"><button type="button" a class="btn btn-danger" onclick="window.open('')">I Want to Sponsor</button></a></center>
  <hr>
</div>

<a name="contact"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Contact Us</h2></center>
  <center><p><b>Follow on Twitter</b> using <a href="https://twitter.com/search?q=%23IndyCivicHack&src=typd&f=realtime">#IndyCivicHack</a> or tweet to <a href="https://twitter.com/IndyChamber">@IndyChamber</a></p>
  <center><p><b>Email our organizers </b><a href="mailto:brian@socialhealthinsights.com?Subject=IndyCivicHack">Brian Norris</a> or <a href="mailto:mkirby@indychamber.com?Subject=IndyCivicHack">Matt Kirby</a></p>

  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
<p>Site donated and created by <a href="http://socialhealthinsights.com/">Social Health Insights</a></p>
</div>