<a name="about"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>IndyCivicHack has joined the Hack Indiana Series</h2></center>
  <center><h4>Last year at IndyCivicHack we showed what Hoosier innovation can do when our technology community and civic organizations work collaboratively to solve audacious challenges. This year the game has risen!</h4></center>

  <center><h4><i>Stay tuned for more information on IndyCivicHack as part of the <a href="http://techpoint.org/hack-intx-schedule/">Hack Indiana Series</a> of events for civic good</i></h4></center>

  <hr>

  <center><img src="images/hackINvTX.png" class="img-responsive" alt="Hack Indiana"></center>

  <hr>

  <center><h2>About The Hack Series First Challenge <a href="https://twitter.com/hashtag/hackinvtx?f=realtime&src=hash">#hackINvTX</a></h2></center>

  <p><b>Love technology and want to help solve some challenges facing the State of Indiana?  Faster permits for businesses?  Quicker assistance for victims of natural disasters?</b></p>

  <p>The states of Indiana and Texas have just announced the Indiana Texas Challenge (<a href="https://twitter.com/hashtag/hackinvtx?f=realtime&src=hash">#hackINvTX</a>) – a battle for bragging rights for the best government technology application (“app”) to serve citizens.  It’s a hacking contest, or “civic hackathon,” an event where programmers and software developers creatively use computer coding, technology and publicly-released government data to solve challenges relevant to neighborhoods, cities, states or the country.</p>

  <p>For #hackINvTX, residents of both states will be working on apps that support and inspire entrepreneurship and digital government innovation, encourage government transparency and open data and promote interstate collaboration and competition. Each state is presenting two challenges, four in total, with the winner from each state earning $4,000. The Indiana challenges are centered around the state’s Department of Environmental Management and the Indiana Department of Homeland Security.</p>

  <p>The State of Indiana has partnered with the <a href="http://www.indychamber.com/news/indy-chamber-news/indiana-and-texas-square-civic-hackathon-challenge/">Indy Chamber</a> and <a href="http://techpoint.org/hack-indiana-series/">TechPoint</a> to run the competition, and they’ll be <b>launching the event at 10 a.m. on the campus of IUPUI next Saturday, January 31.</b> There are a number of satellite sites for this launch at various campuses around the state and more opportunities to collaborate.</p>

 <center><a href="http://techpoint.org/hack-intx-schedule/" class="btn btn-success btn-lg">Join The Challenge <span class="glyphicon glyphicon-list-user" aria-hidden="true"></span></a></center>

 <hr>
