<section id="about">
<div class="col-md-8 col-md-offset-2">
  <img src="/images/indy.jpg" class="img-responsive" alt="Indianapolis Indiana">
  <br>
  <center><p>This event is being hosted in support of the <a href="http://hackforchange.org/index.html#top">National Day of Civic Hacking</a>. Our event invites entreprenuers, developers, designers, government representatives and citizens who are passionate about improving our communities. We have a fun day of music, networking, coding, and more planned. <b><a href="https://www.eventbrite.com/">Join Us</a></b> for an awesome day!</p></center>
  <br>
  <center><button type="button" a class="btn btn-primary" onclick="window.open('https://www.eventbrite.com/')">Register to Attend</button></center>
  <hr>
</div>
</section>

<section id="where">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Where</h3></center>
  <center><h4>We have an awseome day planned on Georgia street down town Indianapolis!</h4></center>
  <center><div id="map-canvas"></div></center>
  <hr>
</div>
</section>

<section id="schedule">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Schedule</h3></center>
  <hr>
</div>
</section>

<section id="challenges">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Challenges</h3></center>
  <hr>
</div>
</section>

<section id="datasets">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Datasets</h3></center>
  <hr>
</div>
</section>

<section id="sponsors">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Sponsors</h3></center>
  <hr>
</div>
</section>

<section id="contact">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Contact Us</h3></center>
  <hr>
</div>
</section>