<section id="about">
<div class="col-md-8 col-md-offset-2">
  <center><h3>About Our Event</h3></center>
  <center><p>This event is being hosted in support of the <a href="http://hackforchange.org/index.html#top">National Day of Civic Hacking</a>. Our event invites entreprenuers, developers, designers, government representatives and citizens who are passionate about improving our communities. We have a fun day of music, networking, coding, and more planned. <b>Join Us</b> for an awesome day!</p></center>
  <center><button type="button" class="btn btn-primary">Register to Attend</button></center>
  <hr>
</div>
</section>

<section id="where">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Where</h3></center>
  <center><h4>We have an awseome day planned check out the schedule below</h4></center>
  <p><b>Where: </b>Georgia Street Downtown Indianapolis, Indiana</p>
  <p>ADD MAP</p>
  <hr>
</div>
</section>

<section id="schedule">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Schedule</h3></center>
  <hr>
</div>
</section>

<section id="challenges">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Local Challenges</h3></center>
  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
  <center><h3>Other Challenges</h3></center>
  <hr>
</div>
</section>

<section id="datasets">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Datasets</h3></center>
  <hr>
</div>

<section id="contact">
<div class="col-md-8 col-md-offset-2">
  <center><h3>Contact Us</h3></center>
  <hr>
</div>
</section>