<a name="top"></a>
<div class="col-md-8 col-md-offset-2">
  <center><img src="images/indy-main.gif" class="img-responsive" alt="Indianapolis Indiana"></center>
  <br>
  <center><p>This event is being hosted in support of the <a href="http://hackforchange.org/index.html#top">National Day of Civic Hacking</a>. Our event invites entreprenuers, developers, designers, government representatives and citizens who are passionate about improving our communities. We have a fun day of opendata, networking, coding, and more planned. <b><a href="http://indycivichack.eventbrite.com/">Join Us</a></b> for an awesome day!</p></center>
  <br>
  <center><button type="button" a class="btn btn-danger btn-lg" onclick="window.open('http://indycivichack.eventbrite.com/')">Register to Attend</button></center>
  <hr>
</div>

<a name="where"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Where</h2></center>
  <center><h4>We have an awseome day planned at the Speakeasy in Indianapolis!</h4></center>
  <center><div id="map-canvas"></div></center>
  <hr>
  <a name="schedule"></a>
</div>

<div class="col-md-8 col-md-offset-2">
  <center><h2>Schedule</h2></center>
  <center><h4>Stay tuned for more information on the exact schedule.</h4></center>
  <center><p>We plan to start the day around 10am and continue the fun into the evening. <a href="http://indycivichack.eventbrite.com/">Save the date</a> on your calandar!</p></center>
  <center>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">May 31st Hackathon Schedule</h3>
      </div>
      <div class="panel-body"><b>Opening Remarks:</b> 10 am</div>
      <div class="panel-body"><b>Morning Open Data Presentation:</b> 10:10 am</div>
      <div class="panel-body"><b>Open Coding:</b> 10:30 am</div>
      <div class="panel-body"><b>Lunch:</b> 12:00 pm</div>
      <div class="panel-body"><b>Lunchtime Speaker:</b> 12:15 pm</div>
      <div class="panel-body"><b>Dinner:</b> 6:00 pm</div>
      <div class="panel-body"><b>Show Off Your Work:</b> 7:00 pm</div>
      <div class="panel-body"><b>Open Networking - Location TBD:</b> 9:00 pm</div>
      </div>
    </div>
  </center> 
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
</div>

<a name="challenges"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Challenges</h2></center>
  <center><h4>Got a Challenge? </h4>
  <center><p>You can submit one to the broader <a href="http://hackforchange.org/index.html#challenges">HackForChange</a> website or locally using the submission button below.</p></center> 
  <center><p>We have recieved <a href="/localchallenge"><b><u><%= @challengecount %></u></b> local challenge(s)</a> to date!</p></center>
  <center><button type="button" a class="btn btn-danger btn-lg" onclick="window.open('/newchallenge')">Submit Local Challenge</button>
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
</div>

<a name="datasets"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Datasets</h2></center>
  <center><h4>Our goal is to connect innovators with Indianapolis, Indiana, and national top opendata sets.</h4>
  <p>We invite you to submit data sets, unlock data, point participants towards data sets and more. Connecitng innovators with civic data has already produced billions of dollars in benefit to communities <i>(e.g., GIS data driving GPS inovation)</i>. Our goal is to highlight these data sets but we need your help to do so!</p></center>
  <center><a href="mailto:info@indycivichack.com?Subject=I%20Have%20A%20Dataset%20For%20IndyCivicHack"><button type="button" a class="btn btn-danger btn-lg">Submit Open Datasets</button></a></center>
  <hr>
</div>

<a name="sponsors"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Sponsors</h2></center>
  <center><h4>Our community is awesome! Without your support, support of the organizations below, and <a href="http://hackforchange.org/index.html#sponsors">HackForChange</a> sponsors this event would not be possible.</h4></center>
  <center>
  </center>
  <center><a href="mailto:info@indycivichack.com?Subject=I%20Want%20To%20Sponsor%20IndyCivicHack"><button type="button" a class="btn btn-danger btn-lg">I Want to Sponsor</button></a></center>
  <hr>
</div>

<a name="contact"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Contact Us</h2></center>
  <center><p><b>Follow on Twitter</b> using <a href="https://twitter.com/search?q=%23IndyCivicHack&src=typd&f=realtime">#IndyCivicHack</a> or tweet to <a href="https://twitter.com/indycivichack">@IndyCivicHack</a></p>
  <center><p><b><a href="mailto:info@indycivichack.com?Subject=IndyCivicHack">Email our organizers</a></b></p></center>

  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
<p>Site donated and created by <a href="http://socialhealthinsights.com/">Social Health Insights</a></p>
</div>