<a name="about"></a>
<div class="col-md-8 col-md-offset-2">
  <center><img src="images/IndyCivicHack_Main.png" class="img-responsive" alt="Indianapolis Indiana"></center>
  <br>
  <center><p>We are proud to invite you to the first ever Indy civic hackathon May 31st in support of the <a href="http://hackforchange.org/">National Day of Civic Hacking</a>. We invite entrepreneurs, developers, designers, government representatives and citizens who are passionate about improving our community to attend this free event. IndyCivicHack is a one-day event driven by passionate and engaged citizens given the opportunity to explore and drive solutions using public data. Participants are called on to apply existing technologies or build new applications using public data. We have a fun day of open data, announcements, networking, coding, giveaways and more planned.</p></center>
  <center><b>Download and post our event <a href ="/images/IndyCivicHack_Flyer.png">flyer</a> to help us spread the word!</b></center>
  <br />
  <center>


    <a href="https://www.eventbrite.com/e/indy-civic-hackathon-registration-10917294923?ref=ebtn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=10917294923" alt="Eventbrite - Indy Civic Hackathon" /></a>

    <br />
    <br />

    <div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=10917294923&ref=etckt" frameborder="0" height="410" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://indycivichack.eventbrite.com/?ref=etckt">Indy Civic Hackathon</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

    </center>

  <hr />
</div>

<a name="where"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Where</h2></center>
  <center><h4>We have an awseome day planned at <a href="http://speakeasyindy.com/" target="blank">The Speak Easy in Indianapolis!</a></h4></center>
  <center><h5><a href="https://www.google.com/maps/preview?ie=UTF-8&q=Speak+Easy&fb=1&gl=us&hq=speakeasy+indianapolis&cid=823870591417792566&ei=UJaAU_HqIZWfyATy3YDYDQ&sqi=2&ved=0CJQBEPwSMAk">5255 Winthrop Ave, Indianapolis, IN 46220</a></h5></center>
  <!-- <center><div id="map-canvas"></div></center> -->
  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
  <center><h2>Schedule</h2></center>
  <center><h4>Stay tuned for more information on the exact schedule.</h4></center>
  <center><p>We plan to start the day around 10am and continue the fun into the evening. <a href="http://indycivichack.eventbrite.com/">Save the date</a> on your calandar!</p></center>
  <center>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">May 31st Hackathon Schedule</h3>
      </div>
      <div class="panel-body"><b>Check-In:</b> 9:30 am - 10:10 am</div>
      <div class="panel-body"><b>Opening Remarks:</b> 10:10 am</div>
      <div class="panel-body"><b>Indiana Open Data Initiatives <p><a href="https://www.youtube.com/watch?v=4PKx0s1vC5A">Paul Baltzell</a> - CIO State of Indiana: </b> 10:20 am</p></div>
      <div class="panel-body"><b>Open Data <p>Congresswoman <a href="http://susanwbrooks.house.gov/">Susan W Brooks</a>: </b> 10:30 am</p></div>
      <div class="panel-body"><b><a href="http://www.socrata.com/unleash-the-power-of-open-data/
">Socrata</a> SODA API: </b> 10:40 am</p></div>
      <div class="panel-body"><b>Open Coding:</b> 10:50 am</div>
      <div class="panel-body"><b>Lunch:</b> 12:00 pm</div>
      <div class="panel-body"><b>Dinner:</b> 6:00 pm</div>
      <div class="panel-body"><b>Show Off Your Work:</b> 7:00 pm</div>
      <div class="panel-body"><b>Open Networking - Location TBD:</b> 9:00 pm</div>
      </div>
    </div>
  </center> 
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
</div>

<a name="prizes"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Prizes</h2></center>
  <center><h4>We have a number of great prizes up for grabs!</h4></center>
  <p><b>The winning solutions will take home a variety of prizes including:</b>
  <ul class="list">
        <li>Cash <i>(amount announced day of event)</i></li>
        <li>4 Behind Home Plate Indians Tickets (July 1st)</li>
        <li>4 Behind Home Plate Indians Tickets (July 6th)</li>
        <li>Free entry into <a href="http://indypopcon.com/">PopCon</a> and a place on a Indy innovation panel</li>
        <li>1 Speak Easy Membership</li>
      </ul></p>
    <p>Win the <b>trash challenge</b> and take home an extra prize of <b>4 Indianapolis Colts Suite tickets</b> to the game on October 19th</p>
    <hr>
    <center><h4>Raffle to fight hunger in Indiana</h4></center>
    <p><b>1 in 6 hoosiers fight hunger everyday.</b> While we are hacking for change lets take this opportunity to help fight hunger in our community. <b><u>Bring a nonperishable food item (not mandantory to participate)!</u></b> For every two non perishable food items you bring you will be given a raffle ticket to enter our raffle prize drawing. We will be giving away some fun swag but most of all you will be helping us all do our part to help feed the hungry in Indy. All donations will be taken to a local food shelter.

    <b>We will be raffling off:</b>
    <ul class="list">
        <li>4 Floor Seats to an Indiana Fever Game (August 5th)</li>
        <li>4 GitHub Small Accounts for 1 year</li>
        <li>1 Apple TV</li>
      </ul></p>
    <h5><b>We will have plenty of additional swag for all the participants, you have to attend to find out what :)</b></h5>
  <hr>
</div>

<a name="getinvolved"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Challenges</h2></center>
  <center><h4>We Have a Mix of Local and National Challenges, Plus Bring Your Own</h4></center>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><b>Local Challenge:</b> Help the Indianapolis Mayor’s Action Center (MAC) reduce the number of incoming calls from citizens requesting trash-related information.</h4>
    </div>
    <div class="panel-body">
      <p><b>The Problem:</b> Last year (2013), the MAC handled over 176,000 calls, resulting in nearly 57,000 requests for service and nearly 43,000 requests for information. These information calls account for 18% of all calls the MAC took in 2013, with trash information calls alone accounting for more than 11% of the MAC’s total volume last year. The MAC is looking to decrease/eliminate these trash calls in an effort to reduce cost, improve customer service, and reallocate resources in a more effective and efficient way.Trash information calls typically consist of questions along the lines of: “what day is my trash picked up?”; “is my trash going to be picked up today?” (these calls increase around holidays and bad weather); and “what can/can’t I put out on my heavy trash day?”</p> 

      <p><b>Potential Soultions: </b> Innovative ideas dont have boundaries, however here are a few ideas to get you started: 
      <ul class="list">
        <li>IVR phone solution/self-service tool</li>
        <li>Opt-in text message/email notifications</li>
        <li>Add-on to our current online/mobile tool, <a href="http://maps.indy.gov/RequestIndy/">RequestIndy</a>; also available as app in Google Play and Apple stores) for people to easily look up information</li>
        <li>Improve the <a href="http://maps.indy.gov/GovProfile/">Government Profile</a> that allows users to look up specific government-related information based on their address (including trash info)</li>
      </ul></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><b>Local Challenge:</b> Help us create new visualizations and heatmaps using accident and Indiana State Police open data</h4>
    </div>
    <div class="panel-body">
      <p>INDOT and the Indiana State Police have data on current accidents and tickets they have released for the first time. They would like your help to answer a few key questions through visual representation of this information and potential MASHUPS with other data sets. These questions include:</p>
      <ul class="list"> 
        <li>Where are clusters of like accidents?</li>
        <li>Where are deer strikes happening the most by frequency and location? <i>(HINT: would love to see a heatmap)</i></li>
        <li>Do weather conditions precipitate or affect the volume and timing of accidents? <i>Example: Why are there few accidents at this point, except at sunset? (maybe INDOT needs to plant some tall trees to shade a setting sun).</i></li>
        <li>Are there intersections with a statistically unusual circumstances? <i>E.g., intersections with 30% more crashes of right hand turns than any other type of crash at that location</i></li>
        </ul>
      <p><B>Data sets to be utilized:</B></p>
      <ul class="list">
        <li><a href="https://communities.socrata.com/Public-Safety/Accidents-2012-2013-Vehicles/w9zi-tz7b">Indiana State Police accident information</a></li>
        <li><a href="https://communities.socrata.com/Public-Safety/Indiana-State-Police-Tickets-20140101-Thru-2014051/geug-a2k2">Indiana State Police tickets 01/01/2014 to 05/19/2014</a></li>
      </ul>
      <p><b>Potential Solutions</b></p>
      <ul class="list">
        <li>Heatmap with various views and filters</li>
        <li>MASHUP with weather data and other external data sets</li>
        <li>Search app for the various data sets where users can make their own visualizations</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><b>Local Challenge:</b> Help us create new visualization/app for a variety of local data sets</h4>
    </div>
    <div class="panel-body">
      <p>We have sourced a number of local and state data sets that we would like to see what you can do with them. These include pothole, accident, meaningful use, and more. Here are just a few of these data sets available on our event <a href="mailto:info@indycivichack.com?Subject=I%20Have%20A%20Dataset%20For%20IndyCivicHack">community open data portal</a></p> 
      <ul class="list">
        <li><a href="https://communities.socrata.com/dataset/Indianapolis-Mayor-s-Action-Center-Pothole-Request/62r6-y2wf">Indianapolis Mayors office Pothole repair requests that come into the MAC</a></li>
        <li><a href="https://communities.socrata.com/Public-Safety/Accidents-2012-2013-Vehicles/w9zi-tz7b">Indiana State Police accident information</a></li>
        <li><a href"https://communities.socrata.com/Public-Safety/Indiana-State-Police-Tickets-20140101-Thru-2014051/geug-a2k2">Indiana State Police tickets from 2012 to 2013</a></li>
        <li><i>and several more on the <a href="mailto:info@indycivichack.com?Subject=I%20Have%20A%20Dataset%20For%20IndyCivicHack">portal</a></i></li>
      </ul>
    </div>
  </div>
  <h4><b><i>For an awesome list of national challenges, check out the <a href="http://hackforchange.org/challenges/">HackForChange challenge</a> list</i></b></h4>

  <!-- <center><h4>Got a Challenge? </h4>
  <center><p>You can submit one to the broader <a href="http://hackforchange.org/index.html#challenges">HackForChange</a> website or locally to our challenge post site on the discussion board.</p></center> 
  <center><p>We have recieved <a href="/localchallenge"><b><u><%= @challengecount %></u></b> local challenge(s)</a> to date!</p></center> 
  <center><button type="button" a class="btn btn-danger btn-lg" onclick="window.open('http://indycivichack.challengepost.com/forum_topics')">Submit Local Challenge</button> -->
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
  <center><h2>Datasets</h2></center>
  <center><h4>Our goal is to connect innovators with Indianapolis, Indiana, and national top opendata sets.</h4>
  <p>We invite you to submit data sets, unlock data, point participants towards data sets and more. Connecting innovators with civic data has already produced billions of dollars in benefit to communities <i>(e.g., GIS data driving GPS inovation)</i>. Our goal is to highlight these data sets but we need your help to do so.</p></center>
  <center><a href="mailto:info@indycivichack.com?Subject=I%20Have%20A%20Dataset%20For%20IndyCivicHack"><button type="button" a class="btn btn-danger btn-lg">Get Help Submitting Open Datasets</button></a></center>
  <br />
    <center><h4>View our event's open data portal <a href ="https://communities.socrata.com/catalog/indy?sortBy=last_modified&utf8=%E2%9C%93">here:</h4><img src='/images/SocrataOpenDataPortal.png' alt='screenshot of open data portal' /></a><br />
    <h4><p>Also, here are a few places to find additional open data sets</p></h4></center>
    <table class='table table-responsive'>
      <tr>
        <td><strong>General</strong></td>
        <td><a href="https://opendata.socrata.com/">Socrata Open Data Portal</a> | <a href="https://www.data.gov/">Data.Gov</a> | <a href="http://healthdata.gov/">HealthData.Gov</a> | <a href="http://www.va.gov/data/">Open VA Data</a> | <a href="http://open.fda.gov/">Open FDA</a> | <a href="http://data.nasa.gov/">Open NASA</a> | <a href="http://data.worldbank.org/">World Bank Data</a> | <a href="http://portal.lillycoi.com/api-reference-guide/">Lilly Open Innovation API</a> | <a href="http://ckan.org/instances/">List of CKAN (open data portal) instances</a> | <a href="http://hackforchange.org/data/">HackForChange Aggregated List of Sources</a></td> 
      </tr>
      <tr>
        <td><strong>Indiana specific</strong></td>
        <td><a href="http://www.indianamap.org/resources.php">Indiana Map</a> | <a href="http://www.in.gov/isdh/18888.htm">Indiana State Department of Health (ISDH) Reports & Statistics</a> | <a href="https://data.southbendin.gov/">South Bend Open Data Portal</a></td>
      </tr>
      <tr>
        <td><strong>Other cities and states</strong></td>
        <td><a href="https://www.data.gov/open-gov/">Data.gov list of international open government data portals</a> | <a href="https://nycopendata.socrata.com/">New York</a> | <a href="https://data.cityofchicago.org/">Chicago </a> | <a href="https://data.sfgov.org/">San Francisco</a> | <a href="https://data.illinois.gov/">Illinois</a> | <a href="https://data.austintexas.gov/">Austin</a> | <a href="https://data.cityofboston.gov/">Boston</a> | <a href="https://data.hawaii.gov/">Hawaii</a> | <a href="https://data.oregon.gov/">Oregon</a> | <a href="https://data.cityofmadison.com/">Madison</a> | <a href="http://data.gc.ca/eng">Canada</a> | <a href="https://data.honolulu.gov/">Honolulu</a> | <a href="https://data.seattle.gov/">Seattle</a> | <a href="http://data.lexingtonky.gov/">Lexington</a> | <a href="http://opendataphilly.org/">Phillidelphia</a> | <a href="https://data.maryland.gov/">Maryland</a> | <a href="https://data.smcgov.org/">San Mataeo</a> | <a href="https://data.baltimorecity.gov/">Baltimore</a> | <a href="https://data.oaklandnet.com/">Oakland</a> | <a href="https://data.kcmo.org/">Kansas City</a> | <a href="http://portal.louisvilleky.gov/service/data">Louisville</a></td>
      </tr>
    </table>

  <hr>
</div>

<a name="sponsors"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Sponsors</h2></center>
  <center><h4>Our community is awesome! Without your support, support of the organizations below, and <a href="http://hackforchange.org/index.html#sponsors">HackForChange</a> sponsors this event would not be possible.</h4></center>
  <center>
  <hr>
  <center><h4>Featured Sponsors<b><i></i></b></h4></center>
  <a href="http://www.healthx.com//"><img src="images/healthx_logo.png" alt="HealthX" class="img-rounded"></a>
  </br>
  <a href="http://www.inin.com/Pages/default.aspx"><img src="images/Interactive_Intelligence.jpg" alt="Interactive Intelligence" class="img-rounded"></a>
  <hr>
  <center><h4>Organizing Sponsors</h4></center>
  <a href="http://www.indychamber.com/"><img src="images/Indy_Chamber_Logo.png" alt="Indy Chamber" class="img-rounded"></a>
  <a href="http://socialhealthinsights.com/"><img src="images/socialhealthinsights_logo.gif" alt="Social Health Insights" class="img-rounded"></a>
  <hr>
  <center><h4>Featured Contributors</h4></center>
  <a href="http://www.socrata.com/"><img src="images/Socrata_Logo.gif" alt="Socrata Logo" class="img-rounded"></a>
  <a href="http://www.in.gov/iot/"><img src="images/IOT_Logo_2014.png" alt="Indiana Office of Technology" class="img-rounded"></a>
  <a href="http://www.indy.gov/eGov/mayor/Pages/home.aspx"><img src="images/City_logo.png" alt="Indianapolis Mayor Ballards Office" class="img-rounded"></a>
  </br>
  <a href="http://www.developertown.com/"><img src="images/developertown.png" alt="Developer Town" class="img-rounded"></a>
  <a href="http://speakeasyindy.com/"><img src="images/speakeasy_logo.gif" alt="Speakeasy" class="img-rounded"></a>
  <a href="http://www.github.com/"><img src="images/GitHub_Logo.png" alt="GitHub" class="img-rounded"></a>
  <a href="http://www.cloudera.com/content/cloudera/en/home.html"><img src="images/Cloudera_logo.png" alt="Cloudera" class="img-rounded"></a>
  <!-- center><a href="mailto:info@indycivichack.com?Subject=I%20Want%20To%20Sponsor%20IndyCivicHack"><button type="button" a class="btn btn-danger btn-lg">I Want to Sponsor</button></a></center> -->
  <hr>
</div>

<a name="contact"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Contact Us</h2></center>
  <center><p><b>Follow on Twitter</b> using <a href="https://twitter.com/search?q=%23IndyCivicHack&src=typd&f=realtime">#IndyCivicHack</a> or tweet to <a href="https://twitter.com/indycivichack">@IndyCivicHack</a></p>
  <center><p><b><a href="mailto:info@indycivichack.com?Subject=IndyCivicHack">Email our organizers</a></b></p></center>
  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
<p>Site donated by <a href="http://socialhealthinsights.com/">Social Health Insights</a> | <a href="/terms">Terms of Use</a></p>
</div>