<a name="about"></a>
<div class="col-md-8 col-md-offset-2">
  <center><img src="images/IndyCivicHack_Main.jpeg" class="img-responsive" alt="Indianapolis Indiana"></center>
  <br>
  <center><p>We are proud to invite you to the first ever Indy civic hackathon May 31st in support of the <a href="http://hackforchange.org/index.html#top">National Day of Civic Hacking</a>. We invite entrepreneurs, developers, designers, government representatives and citizens who are passionate about improving our community to attend this free event. IndyCivicHack is a one-day event driven by passionate and engaged citizens given the opportunity to explore and drive solutions using public data. Participants are called on to apply existing technologies or build new applications using public data. We have a fun day of open data, announcements, networking, coding, giveaways and more planned.</p></center>
  <center><b>Download and post our event <a href ="/images/IndyCivicHack_Flyer.png">flyer</a> to help us spread the word!</b></center>
  <br />
  <center>


    <a href="https://www.eventbrite.com/e/indy-civic-hackathon-registration-10917294923?ref=ebtn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=10917294923" alt="Eventbrite - Indy Civic Hackathon" /></a>

    <br />
    <br />

    <div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=10917294923&ref=etckt" frameborder="0" height="410" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://indycivichack.eventbrite.com/?ref=etckt">Indy Civic Hackathon</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

    </center>

  <hr />
</div>

<a name="where"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Where</h2></center>
  <center><h4>We have an awseome day planned at <a href="http://speakeasyindy.com/" target="blank">The Speak Easy in Indianapolis!</a></h4></center>
  <center><div id="map-canvas"></div></center>
  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
  <center><h2>Schedule</h2></center>
  <center><h4>Stay tuned for more information on the exact schedule.</h4></center>
  <center><p>We plan to start the day around 10am and continue the fun into the evening. <a href="http://indycivichack.eventbrite.com/">Save the date</a> on your calandar!</p></center>
  <center>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">May 31st Hackathon Schedule</h3>
      </div>
      <div class="panel-body"><b>Opening Remarks:</b> 10 am</div>
      <div class="panel-body"><b>Indiana Open Data Initiatives <p>Paul Baltzell - CIO State of Indiana: </b> 10:10 am</p></div>
      <div class="panel-body"><b>Socrata SODA API: </b> 10:30 am</p></div>
      <div class="panel-body"><b>Open Coding:</b> 10:45 am</div>
      <div class="panel-body"><b>Lunch:</b> 12:00 pm</div>
      <div class="panel-body"><b>Lunchtime Speaker:</b> 12:30 pm</div>
      <div class="panel-body"><b>Dinner:</b> 6:00 pm</div>
      <div class="panel-body"><b>Show Off Your Work:</b> 7:00 pm</div>
      <div class="panel-body"><b>Open Networking - Location TBD:</b> 9:00 pm</div>
      </div>
    </div>
  </center> 
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
</div>

<a name="getinvolved"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Challenges</h2></center>
  <center><h4>Got a Challenge? </h4>
  <center><p>You can submit one to the broader <a href="http://hackforchange.org/index.html#challenges">HackForChange</a> website or locally to our challenge post site on the discussion board.</p></center> 
  <!--<center><p>We have recieved <a href="/localchallenge"><b><u><%= @challengecount %></u></b> local challenge(s)</a> to date!</p></center> -->
  <center><button type="button" a class="btn btn-danger btn-lg" onclick="window.open('http://indycivichack.challengepost.com/forum_topics')">Submit Local Challenge</button>
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
  <center><h2>Datasets</h2></center>
  <center><h4>Our goal is to connect innovators with Indianapolis, Indiana, and national top opendata sets.</h4>
  <p>We invite you to submit data sets, unlock data, point participants towards data sets and more. Connecting innovators with civic data has already produced billions of dollars in benefit to communities <i>(e.g., GIS data driving GPS inovation)</i>. Our goal is to highlight these data sets but we need your help to do so.</p></center>
  <center><a href="mailto:info@indycivichack.com?Subject=I%20Have%20A%20Dataset%20For%20IndyCivicHack"><button type="button" a class="btn btn-danger btn-lg">Get Help Submitting Open Datasets</button></a></center>
  <br />
    <center><h4>View our event open data portal <a href ="https://communities.socrata.com/catalog/indy/">here</a>!!</h4> 
    <h4><p>Also, here are a few places to find additional open data sets</p></h4></center>
    <table class='table table-responsive'>
      <tr>
        <td><strong>General</strong></td>
        <td><a href="https://opendata.socrata.com/">Socrata Open Data Portal</a> | <a href="https://www.data.gov/">Data.Gov</a> | <a href="http://healthdata.gov/">HealthData.Gov</a> | <a href="http://www.va.gov/data/">Open VA Data</a> | <a href="http://open.fda.gov/">Open FDA</a> | <a href="http://data.nasa.gov/">Open NASA</a> | <a href="http://data.worldbank.org/">World Bank Data</a> | <a href="http://portal.lillycoi.com/api-reference-guide/">Lilly Open Innovation API</a> | <a href="http://ckan.org/instances/">List of CKAN (open data portal) instances</a></td>
      </tr>
      <tr>
        <td><strong>Indiana specific</strong></td>
        <td><a href="http://www.indianamap.org/resources.php">Indiana Map</a> | <a href="http://www.in.gov/isdh/18888.htm">Indiana State Department of Health (ISDH) Reports & Statistics</a> | <a href="https://data.southbendin.gov/">South Bend Open Data Portal</a></td>
      </tr>
      <tr>
        <td><strong>Other cities and states</strong></td>
        <td><a href="https://www.data.gov/open-gov/">Data.gov list of international open government data portals</a> | <a href="https://nycopendata.socrata.com/">New York</a> | <a href="https://data.cityofchicago.org/">Chicago </a> | <a href="https://data.sfgov.org/">San Francisco</a> | <a href="https://data.illinois.gov/">Illinois</a> | <a href="https://data.austintexas.gov/">Austin</a> | <a href="https://data.cityofboston.gov/">Boston</a> | <a href="https://data.hawaii.gov/">Hawaii</a> | <a href="https://data.oregon.gov/">Oregon</a> | <a href="https://data.cityofmadison.com/">Madison</a> | <a href="http://data.gc.ca/eng">Canada</a> | <a href="https://data.honolulu.gov/">Honolulu</a> | <a href="https://data.seattle.gov/">Seattle</a> | <a href="http://data.lexingtonky.gov/">Lexington</a> | <a href="http://opendataphilly.org/">Phillidelphia</a> | <a href="https://data.maryland.gov/">Maryland</a> | <a href="https://data.smcgov.org/">San Mataeo</a> | <a href="https://data.baltimorecity.gov/">Baltimore</a> | <a href="https://data.oaklandnet.com/">Oakland</a> | <a href="https://data.kcmo.org/">Kansas City</a> | <a href="http://portal.louisvilleky.gov/service/data">Louisville</a></td>
      </tr>
    </table>

  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
  <center><h2>Sponsors</h2></center>
  <center><h4>Our community is awesome! Without your support, support of the organizations below, and <a href="http://hackforchange.org/index.html#sponsors">HackForChange</a> sponsors this event would not be possible.</h4></center>
  <center>
  <a href="http://www.indychamber.com/"><img src="images/Indy_Chamber_Logo.gif" alt="Indy Chamber" class="img-rounded"></a>
  <a href="http://www.socrata.com/"><img src="images/Socrata_Logo.gif" alt="Socrata Logo" class="img-rounded"></a>
  <a href="http://speakeasyindy.com/"><img src="images/speakeasy_logo.gif" alt="Socrata Logo" class="img-rounded"></a>
  <a href="http://www.developertown.com/"><img src="images/developertown.gif" alt="Developer Town Logo" class="img-rounded"></a>
  <a href="http://socialhealthinsights.com/"><img src="images/socialhealthinsights_logo.gif" alt="Social Health Insights Logo" class="img-rounded"></a>
  </center>
  <center><a href="mailto:info@indycivichack.com?Subject=I%20Want%20To%20Sponsor%20IndyCivicHack"><button type="button" a class="btn btn-danger btn-lg">I Want to Sponsor</button></a></center>
  <hr>
</div>

<a name="contact"></a>
<div class="col-md-8 col-md-offset-2">
  <center><h2>Contact Us</h2></center>
  <center><p><b>Follow on Twitter</b> using <a href="https://twitter.com/search?q=%23IndyCivicHack&src=typd&f=realtime">#IndyCivicHack</a> or tweet to <a href="https://twitter.com/indycivichack">@IndyCivicHack</a></p>
  <center><p><b><a href="mailto:info@indycivichack.com?Subject=IndyCivicHack">Email our organizers</a></b></p></center>
  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
<p>Site donated and created by <a href="http://socialhealthinsights.com/">Social Health Insights</a> | <a href="/terms">Terms of Use</a></p>
</div>