<div class="col-md-8 col-md-offset-2">
  <center><h2>Currently Submitted Challenge</h2></center>
  <hr>
  <div class="col-md-12 col-md-offset-0">
    <table class="table table-bordered table-striped">
    <% @data.each do |row| %>
    <th>Organization</th>
    <th>Challenge Description</th>
    <th>Data and API's Prefered</th>
      <tr>
        <td><%= row["organization"] %></td>
        <td><%= row["challenge_desc"] %></td>
        <td><%= row["apis"] %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
<hr>
<p>Site donated and created by <a href="http://socialhealthinsights.com/">Social Health Insights</a></p>
</div>