<a name="about"></a>
<!-- <div class="col-md-8 col-md-offset-2"> -->
<div class="col-md-12">
  <div class="col-md-8">
    <center><h2>IndyCivicHack has joined the Hack Indiana Series</h2></center>
    <center><h4>Last year at IndyCivicHack we showed what Hoosier innovation can do when our technology community and civic organizations work collaboratively to solve audacious challenges. This year the game has risen!</h4></center>

    <center><h4><i>Learn more about this years #IndyCivicHack as part of the <a href="http://techpoint.org/hack-intx-schedule/">Hack Indiana Series</a> of events for civic good <a href="http://techpoint.org/Indy-Civic-Hack/">here</a></i></h4></center>

    <hr>

    <center><img src="images/techpoint-civic-hack-logo.png" class="img-responsive" alt="Indy Civic Hack"></center>

    <hr>

    <center><h2>About This Years IndyCivicHack</h2></center>

    <p><b>Love technology and want to help solve some challenges facing the City of Indianapolis and State of Indiana?</b></p>

    <p>On the heels of our successful #hackINvTX Challenge, the Indy Chamber and Techpoint proudly bring you the Indy Civic Hack, a challenge designed to highlight the best and brightest technological minds of Indiana. As the second installment of the Hack Indiana Series and an official event of Code for America’s National Day of Civic Hacking, the Indy Civic Hack takes development to a whole new level by pairing developer challenges with the public sector to bring about positive community change.

    Challenges will be submitted from Indiana Family & Social Services Administration, the City of Indianapolis, and Indianapolis Public Schools. Register to join us for our May 19 data release event at Old City Hall, and also sign up for the main event June 6.</p>

    <center><h2>Event details</h2></center>
    <h3 class="h3-custom">May 19th, 2015 -  Data Release Event (5:30-6:30pm). </h3> 
    <p>This event has three main objectives: 
    Celebrating John & Isaiah Schevola, the overall winners of the #HackINvTX Challenge! 
    Releasing the data sets that will be used during the Indy Civic Hack on June 6th.
    Facilitating team formation.</p>

    <h3 class="h3-custom">June 6th, 2015 -  Indy Civic Hack (10am-10pm) </h3>
    <p>This is the main event! A 12-hour hackathon where 150+ hackers from around the state will come together to #HackforChange. The challenges will be released in the morning and teams will be given the day to get creative and build the best solution. At the end of the day teams will present their products to a group of judges for an opportunity to be a Finalist. Challeges will be from the following agencies/organizations:</p> 
    <ul>
      <li>Indiana Family & Social Services Administration </li>
      <li>Two from the City of Indianapolis</li>
      <li>Two from Indianapolis Public Schools </li>
    </ul>

    <p><b>Innovators Challenge</b> - this challege is for hackers that want to interpret the available agency/IPS data without bounds. Rather than a defined challege, this will be an open ended opportunity where submissions will be judged, not on functionality and applicability, but on innovation.</p>

    <p><b>Finalists (max 3 teams per challege)</b> will then be given a week to polish their products. Final submissions will be due on June 15th at 1:00pm via TechPoint.org/Indy-Civic-Hack. More details will be provided to Finalists on event day. </p>

  </div>
  <div class="col-md-4">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/indycivichack" data-widget-id="602836021265485824">#indycivichack Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-8 col-md-offset-2">
    <hr>
    <center><a href="https://www.eventbrite.com/e/indy-civic-hack-2015-tickets-8270062981" class="btn btn-success btn-lg">Join The Challenge <span class="glyphicon glyphicon-list-user" aria-hidden="true"></span></a></center>
    </br>
    <center><p>Follow on Twitter <a href="https://twitter.com/indycivichack">@IndyCivicHack</a> or tweet to <a href="https://twitter.com/search?q=%23IndyCivicHack&src=typd&f=realtime">#IndyCivicHack</a> or <a href="mailto:info@indycivichack.com?Subject=IndyCivicHack">email us</a></p></center>
    <hr>
  </div>
</div>

