<div class="col-md-8 col-md-offset-2">
  <center><h2>Submit New Challenge</h2></center>
  <hr>
  <div class="col-md-8 col-md-offset-2">
  <div class="well">
  	<form class="form-horizontal" action="/newchallenge" method="post">
		<div class="form-group">
    		<div class="col-sm-12">
    			<label for="Name" class="control-label">Name:</label>
      			<input type="text" class="form-control" name="name" placeholder="Please enter your name">
    		</div>
    		<div class="col-sm-12">
    			<label for="Email" class="control-label">Email Address:</label>
      			<input type="email" class="form-control" name="email" placeholder="Please enter your contact email">
    		</div>
    		<div class="col-sm-12">
    			<label for="Organization" class="control-label">Organization:</label>
      			<input type="text" class="form-control" name="organization" placeholder="Please enter your organizations name">
    		</div>
    		<div class="col-sm-12">
    			<label for="Challenge Description" class="control-label">Challenge Description:</label>
      			<textarea class="form-control" rows="5" name="challenge_desc" placeholder="Please describe your challenge, what you want to achieve, and why innovators should create solutions to your challenge"></textarea>
    		</div>
    		<div class="col-sm-12">
    			<label for="api" class="control-label">Dataset and API's:</label>
      			<textarea class="form-control" rows="5" name="apis" placeholder="Please enter links to opendatasets, API's and other sources of data you would like to see included in solutions"></textarea>
    		</div>
    		<div class="col-sm-12">
    			<br>
		    	<button type="button" class="btn btn-default">Cancel</button>
		   		<button type="submit" class="btn btn-primary">Submit</button>
    		</div>
  		</div>
  		<!-- <div class="alert alert-info">Congratulations you submitted a new challenge for review</div> -->
  	</form>
  </div>
</div>
</div>

<div class="col-md-8 col-md-offset-2">
<hr>
<p>Site donated and created by <a href="http://socialhealthinsights.com/">Social Health Insights</a> | <a href="/terms">Terms of Use</a></p>
</div>