<div class="col-md-8 col-md-offset-2">
  <center><h2>Placeholder for form</h2></center>
  <hr>
</div>

<div class="col-md-8 col-md-offset-2">
<p>Site donated and created by <a href="http://socialhealthinsights.com/">Social Health Insights</a></p>
</div>