<div class="col-md-8 col-md-offset-2">
<h4>Terms of Use</h4>
<p>This website (this “Site”) is provided by Social Health Insights, LLC (“We,” “Us,” or “Our”). By utilizing this site, you (“You” or “Your”) agree to these Terms of Use and Privacy Notice. These provisions may be changed from time to time and without notice at Our sole discretion and as provided by applicable law. You should check this Terms of Use and Private Notice frequently for any such changes, but in any case, Your continued access or use of the Site shall constitute acceptance of any modification of the Terms of Use and Privacy Notice.</p>

<h4>1. Information Disclaimer</h4>
<p>The information on this Site is provided by Us. While We attempt to keep the information as accurate as possible, We disclaim any implied warranty or representation about its accuracy or completeness, or appropriateness for a particular purpose. You assume full responsibility for using the information at this Site, and You understand and agree that We are neither responsible nor liable for any claim, loss or damage resulting from its use. The mention of specific products or services at this Site does not constitute or imply a recommendation or endorsement by Us, unless it is explicitly stated. Information on the Site may be changed or updated without notice.</p>

The views and opinions expressed in the media, articles or comments on this Site by users and/or Our staff are those of the speakers or authors and do not necessarily reflect Our views and opinions.

<h4>2. Use of This Website.</h4>
<p>This Site shall be used solely for Your personal, non-commercial use. You must keep strictly confidential any log-in ID as assigned to you for utilization of this website. It is your responsibility to ensure that no other individuals have access to the log-in ID.</p>

<h4>3. Limited Warranty</h4>
<p>THIS SITE, INCLUDING ANY CONTENT OR INFORMATION CONTAINED HEREIN OR ANY SITE-RELATED SERVICE, IS PROVIDED “AS IS” WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THIS SITE, SITE-RELATED SERVICES, AND ANY HYPERLINKED WEBSITES.</p>

Some jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to You.

<h4>4. Links to Third Party Sites</h4>
<p>Some hyperlinks in the Site may take You outside of the Site or link to articles and videos (“Linked Sites”). The Linked Sites are not under Our control and We are not responsible for the content of any such Linked Sites, any hyperlinks contained in a Linked Site, or any changes or updates to such Linked Sites. We provide these hyperlinks to Linked Sites to You only as a convenience and the inclusion of any hyperlink or content in that Linked Site does not imply endorsement by Us of the Linked Site or the contents contained therein.</p>

<h4>5. Intellectual Property Rights</h4>
<p>All right, title, and interest in and to the intellectual property rights embodied in the Site and any documentation downloaded or printed from the Site is owned or licensed by Us.</p>

<h4>6. Liability for the Actions of Users of the Website</h4>
<p>You must not use Our Site in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity. We accept no responsibility for any loss or harm incurred.</p>

<h4>7. Limiting Liability for Viruses, Damage, and Availability</h4>
<p>We do not warrant that functions available on this Site will be uninterrupted or error free, that defects will be corrected, or that the server that makes it available is free of viruses or bugs. You acknowledge that it is Your responsibility to implement sufficient procedures and virus checks (including anti-virus and other security checks) to satisfy Your particular requirements for the accuracy of data input and output.</p>

<h4>8. Legal Jurisdiction</h4>
<p>The laws of the State of Indiana shall govern Your use of the Site and You hereby agree to submit to the personal jurisdiction of the state and federal courts for or located in Indianapolis, Indiana.</p>

<h4>9. Limitation of Liability</h4>
<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL WE OR CONTRIBUTORS TO THE SITE BE LIABLE FOR ANY SPECIAL, INCIDENTAL, AND DIRECT OR CONSEQUENTIAL DAMAGES WHATSOEVER, INCLUDING WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR OTHER PECUNIARY LOSS ARISING OUT OF THE USE OF OR INABILITY TO USE THE SITE ARISING AS A RESULT OF OUR PROVISION OR FAILURE TO PROVIDE INFORMATION VIA THE SITE EVEN IN THE EVENT THAT WE HAVE BEEN ADVISED OF SUCH DAMAGES.</p>

<h4>10. Notice</h4>
<p>Notices to Us should be sent to:

Social Health Insights, LLC
Attn: Social Health Insights Notice
7 Launch Way, Suite 210
Fishers Indiana, 46038</p>

<h4>11. Digital Millennium Copyright Act Compliance</h4>
<p>If You have any copyright concerns about any materials posted on this Site by others, please let Us know. We comply with the provisions of the Digital Millennium Copyright Act applicable to Internet service providers (17 U.S.C. § 512). Please provide Us with written notice (“Notice”) by contacting us at the following address:

Social Health Insights, LLC
Attn: Social Health Insights Copy Right Concerns
7 Launch Way, Suite 210
Fishers Indiana, 46038

To be effective, the Notice must include the following:

A physical or electronic signature of the owner, or a person authorized to act on behalf of the owner (“Complaining Party”) of an exclusive right that is allegedly being infringed upon;
Information reasonably sufficient to permit Us to contact the Complaining Party, such as an address, telephone number, and if available, an electronic mail address;
Identification of the allegedly infringing material on the Site (“Infringing Material”), and information reasonably sufficient to permit Us to locate such material on the Site;
Identification of the copyrighted work claimed to have been infringed upon (“Infringed Material”), or if multiple copyrighted works at a single Site are covered by a single Notice, a list of each copyrighted work claimed to have been infringed (please be specific as to which Infringing Material is infringing on which Infringed Material);
A statement that the Complaining Party has a good faith belief that use of Infringing Material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
A statement that the information in the Notice is accurate, and under penalty of perjury, that the Complaining Party is the owner or is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>

<h4>12. Privacy Notice</h4>
<p>The following provisions apply to information We learn about or obtains from You when You visit the Site. Our use of information gathered or obtained now is subject to the Privacy Policy in effect at the time of such use.</p>

<h5>What We Collect</h5>
<p>We receive and store any information You enter on the Site or provide in any other manner. This may include, but is not limited to, Your personally identifiable information, such as Your name, address, phone number, and e-mail address. You can choose not to provide information, but then certain feature of the Site may not be available to You. We use the information that You provide to respond to Your requests for information.</p>

<p>We receive and store certain types of information whenever You visit the Site. In addition to information You provide, We may collect the name of the domain and host from which You access the Internet; the IP address of the computer You are using; and the browser and operating system You are using; the date and time You access the Site; and the Internet address of the Website from which You linked to the Site.</p>

<h5>How We Use Information</h5>
<p>We use the information You provide and We collect to:

Administer the Site and diagnose problems with Our server;
Verify Your identity;
Provide You with information about the Site;
Measure the number of visitors to the Site and how the Site is used, in order to make the Site as useful as possible to Our visitors; and
Provide authorities or relevant individuals with information related to the Site as required by law.
Sharing Information
We will not provide Your personally identifiable information to anyone except as required to directly provide information You request through the Site. We may aggregate data about visitors to Our website in a non-identifiable manner and use it for a variety of purposes. For example, We may aggregate data for product development and improvement activities. However, it is important to note that no personally identifiable information is available or used in this process. We may utilize information You provide to promote the products or services of strategic partners, but will not directly provide Your information to these strategic partners for promotional purposes.</p>

<h5>Security</h5>
<p>The Site has security measures in place to protect against the loss, misuse or alteration of information under Our control.</p>

<h5>Compliance with COPPA</h5>
The Site is not directed at children under the age of 13. We comply with the Children’s Online Privacy Protection Act (COPPA) and do not knowingly permit registration or submission of personally identifiable information by anyone under 13 years of age. This age requirement is posted each time We request personally identifiable information.

<h5>Subpoenas</h5>
<p>We do not disclose the identities of visitors or users of the Site unless legally required to do so. We will respond to any subpoena received from a government agency (i.e., the Securities and Exchange Commission or law enforcement agencies) without prior notice to You. Unless prohibited by law or by a valid court order, We will notify You of any subpoena received from any other party (i.e., for civil litigation) which requires Us to disclose Your identity, and will wait ten (10) days, or a lesser amount of time as required by the deadline in the subpoena, before providing the information requested by the subpoena.</p>
</div>