<meta http-equiv="refresh" content="120">
<div class="col-md-12">
	<center><h2>Follow the Twitter Action for IndyCivicHack and the National Day of Civic Hacking</h2></center>
	<hr>
	<div class="col-md-3">
		<a class="twitter-timeline" href="https://twitter.com/hashtag/indycivichack" data-widget-id="602836021265485824">#indycivichack Tweets</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</div>
	<div class="col-md-3">
		<a class="twitter-timeline" href="https://twitter.com/hashtag/Hackforchange" data-widget-id="607148984251981824">#Hackforchange Tweets</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</div>
	<div class="col-md-3">
		<a class="twitter-timeline" href="https://twitter.com/hashtag/NDOCH" data-widget-id="607150108837158912">#NDOCH Tweets</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</div>
	<div class="col-md-3">
		<a class="twitter-timeline" href="https://twitter.com/IndyBrigade" data-widget-id="602832597899726848">Tweets by @IndyBrigade</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</div>
</div>