h2,
.h2-custon {
	color: #36577A;
}

nav, 
.navbar-inverse .navbar-collapse {
  background-color: #36577A;
  border-color: #080808;
}

.panel-default .panel-heading {
  color: #333;
  border-color: #ddd;
  /*background-image: linear-gradient(to bottom, #36577A 0%, #FFFFFF 100%)*/;
}